/* Estilos para los enlaces del menú lateral */
.sidebar ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.sidebar ul li.active a {
  font-weight: bold;
}
.sidebar ul li a:visited,
.sidebar ul li a:active {
  color: inherit;
}
.sidebar ul li a:hover {
  background: #f0f0f0; /* O el color de hover que prefieras */
}
